﻿@model IEnumerable<Site.Models.contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/client_contact.css" />
<h2 style="color:#fff">Контакты</h2>
@{int cellCount = 0;}
<div id="reviews">
        <table class="cont_table">
            @foreach (var item in Model)
            {
                if (cellCount % 3 == 0)
                {
                    @:<tr>
                }
                <td>
                    <div class="contact">
                        <div class="window">
                            <table>
                                <tr>
                                    <td>
                                        <p id="name">@item.NAME</p>
                                        <div style="width:300px;"></div>
                                        <img src="~/Images/contact/location.png" /><l id="adress">@item.ADRESS</l><br />
                                        <img src="~/Images/contact/call.png" /><l id="adress">Тел.:</l><l id="phone">@item.PHONE</l><br />
                                        <img src="~/Images/contact/email.png" /><l><a id="mail" href="mailto:red_2010@inbox.ru">red_2010@inbox.ru</a></l>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                </td>
                            cellCount++;

                            if (cellCount % 3 == 0)
                            {
                                @:</tr>
        }
            }
        </table>
    <script type="text/javascript">
    ymaps.ready(init);
    var myMap,
        myPlacemark;

    function init() {
        myMap = new ymaps.Map("map", {
            center: [44.603266, 33.502711],
            zoom: 12,
            behaviors: ["default", "scrollZoom"],
            controls: ["searchControl","zoomControl", "fullscreenControl","routeEditor"],
        });
        myMap.behaviors.disable('scrollZoom');
        @foreach (var item in Model)
            {
                <text>
        @{
                String s = item.NAME.ToString();
                String[] name = s.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
        }
        @name[0] = new ymaps.Placemark([@item.MAP], {
            balloonShaow:true,
            balloonContentHeader: '<p style="text-align:center;border-bottom:1px solid #c1c1c1">@item.NAME.ToString()</p>',
            ballоonContentFooter: '@item.ADRESS',
            balloonContentBody: [
            '<address>',
            'Адрес:<a style="text-decoration:none"> @item.ADRESS</a><br/>',
            'Телефон: <a style="text-decoration:none">@item.PHONE</a>',
            '</address>'
            ].join(''),
            iconCaption: "@item.NAME.ToString()"
        }, {
            preset: 'islands#redCircleDotIconWithCaption',
            iconCaptionMaxWidth: '500'
        });
        myMap.geoObjects.add(@name[0])
        </text>
            }
    }
    </script>
    <div id="map"></div>
    <div id="reviews_logo">
        <img src="~/Images/body-home/1.png" />
    </div>
</div>

