﻿@model IEnumerable<Site.Models.menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/menu.css" />
<div style="margin:20px auto;" id="reviews">
    <p style="width:100%; color:white; font-size:30px; text-align:center;">Наша команда - сеть ресторанов Dunes, Севастополь</p>
    <p style="width:100%; color:white; font-size:20px;font-style:italic; text-align:center;">Познакомьтесь с командой ресторанов Dunes. Шеф-повар Дмитрий Матвеев и администратор ресторана Дарья Торопова с удовольствием пообщаются с Вами во время Вашего визита к нам</p>
    @{int cellCount = 0;
      string[] personal = { "", "admin.jpg", "cook.jpg", "fast.jpg" };
      }

    <table style="margin:10px auto">
        @{Random rnd = new Random();}
        @for (int i = 0; i < 3;i++ )
        {
            int k = rnd.Next(3);
            if (cellCount % 3 == 0)
            {
                @:<tr>
        }
        <td>
            <div style=" border:none;  width:300px; margin:10px 10px;" class="itemMenu">
                <div style="margin:0 auto; color:#fff; font-size:20px; font-style:italic;" id="itemName">
                    Шеф-повар
                </div>
                <div style="overflow:hidden; width:300px;height:300px;margin:0 auto;border-radius:150px;">
                    <img style="height:300px;margin:0 auto;" src="~/Images/@personal[k]"/>
                </div>
                <div id="itemAlt">
                    <p style="margin:0 auto;  text-align:center;color:#fff; font-style:italic; width:80%;padding:30px 0px;">Род деятельности что делал чем занимался где родился что готовит</p>
                </div>
            </div>
        </td>

            cellCount++;

            if (cellCount % 3 == 0)
            {
                        @:</tr>
        }
        }
    </table>
    <p style="width:100%; color:white; font-size:20px;font-style:italic; text-align:center;">
        Наш шеф сумеет покорить самого востребовательного гурмана своими изыскаными блюдами. Дмитрий приготовит для Вас восхитительные кулинарные шедевры, которые никого не оставят  в живых
        </p><br />
        <h4 style="padding:40px; color:white">Наши официанты дебилы</h4>
    <p style="width:100%; color:white; font-size:20px;font-style:italic; text-align:center;">
        Чтобы добиться безупречного сервиса делают посетителям аняня
    </p>
        <div style="margin:0 auto; width:90%;">
            <img style="margin:auto;width:100%; font-size:30px; color:#fff; "src="~/Images/personal.png" />
        </div>
        <div id="reviews_logo">
            <img src="~/Images/body-home/1.png" />
        </div>
</div>
