.sbi_container{
	position:relative;
	margin:0 auto;
	overflow:hidden;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px 4px 4px 4px;
}
.sbi_panel{
	float:left;
	position:relative;
	height:100%;
	overflow:hidden;
}
.sbi_panel_img{
	position:absolute;
	height:100%;
	top:0px;
	background-repeat:no-repeat;
}
.sbi_label{
	display:block;
	width:100%;
	background:#000;
	text-align:center;
	font-size:15px;
	height:40px;
	line-height:40px;
	position:absolute;
	bottom:20px;
	left:0px;
	opacity:1;
	cursor:pointer;
	text-decoration:none;
	color:#fff;
	outline:none;	
}
.sbi_label:hover{
	opacity:0.9;
    text-decoration:none;
    color:gold;
}
.sbi_content{
	position:absolute;
	border-top:2px solid #000;
	bottom:60px;
	left:0px;
	width:100%;
	background:transparent url(/Images/body-home/pattern.png) repeat top left;
	display:none;
	overflow:hidden;
}
.sbi_content ul{
	padding:10px;
}
.sbi_content ul a{
	display:block;
	color:#f0f0f0;
	font-size:16px;
	padding:4px 6px 4px 14px;
	opacity:1;
}
.sbi_content ul a:hover{
    text-decoration:none;
	background-color:#000;
	color:#fff;
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;
}
.sbi_container-bottom {
    margin: 40px auto;
    text-align: center;
}

.footer #panel{
    overflow:hidden;
    background:rgba(0,0,0,0.9);
    width:1155px;
    margin:0px auto;
    height:110px;
    color:#fff;
    padding:10px;
    border-radius:2px;
}
#panel div{
    vertical-align:middle;
    display:inline-block;
    padding:10px;
}
.social_media{
    width:220px;
    text-align:center;
    float:right;
    height:70px;
}
.footer p{
    border-bottom:1px solid #fff;
    font-size:16px;
}
.mail{
    text-align:center;
    line-height:70px;
    height:70px;
}
.mail a{
    color:gold;
    text-decoration:none;
}
.mail a:hover{
    color:#fff;
}
.phone{
    text-align:center;
    line-height:70px;
    height:70px;
}
.contacts{
    width:220px;
    height:70px;
}
.social_media img{
    width:40px;
    border-radius:8px;
    padding:1px;
}
.social_media img:hover{
}
.sbi_label-bottom{
    display:inline-block;
    position:relative;
    margin:0px auto;
}

.sbi_label-bottom a{
    color:white;
    background:black;
    padding:10px;
    width:161px;
    text-decoration:none;
    display:inline-block;
    position:relative;
    margin:0px auto;
}
.sbi_label-bottom a:hover{
    color:gold;
    padding:10px;
    background:rgba(0,0,0,0.9);
    width:161px;
    text-decoration:none;
    display:inline-block;
    position:relative;
    margin:0px auto;
}

.map_site{
    position:absolute;
    width:100%;
    bottom:60px;
    height:83%;
    overflow:hidden;
    z-index:4;
    display:none;
    background:url(/Images/body-home/pattern.png)
}
.map_site a{
	display:block;
	color:#f0f0f0;
	font-size:16px;
	padding:4px 6px 4px 14px;
	opacity:1;
    cursor:pointer;
}
.map_site a:hover{
    text-decoration:none;
	background-color:#000;
	color:#fff;
	-moz-box-shadow:1px 1px 5px #000;
	-webkit-box-shadow:1px 1px 5px #000;
	box-shadow:1px 1px 5px #000;
}
#table{
}
#table tr td{
    max-width:200px;
    padding:10px 30px 30px 30px;
    vertical-align:baseline;
}
.h{
    text-align:center;
}