﻿@model IEnumerable<Site.Models.contact>

@{
    ViewBag.Title = "addImage";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}

<h2>addImage</h2>

@using (Html.BeginForm("addImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IMAGE</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            <label class="control-label col-lg-2" for="IMAGENAME">IMAGENAME</label>
            <div class="col-lg-10">
                <input type="file" name="files" id="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="TYPE">TYPE</label>
            <div class="col-lg-2">
                <select class="form-control" id="GROUP" name="GROUP">
                    <option value="1">СЛАЙДШОУ</option>
                    <option value="2">ГАЛЛЕРЕЯ</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="GROUP" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="RESTAURANT">RESTAURANT</label>
            <div class="col-lg-2">
                <select class="form-control" id="RESTAURANT" name="RESTAURANT">
                    @foreach(var item in Model)
                    {
                        <option value="@item.ID">@item.NAME</option>
                    }
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="GROUP" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="MAIN">MAIN</label>
            <div class="col-lg-2">
                <input name="MAIN" id="MAIN" type="checkbox" value="1" />
                <span class="field-validation-valid text-danger" data-valmsg-for="GROUP" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" style="width:18%" />
                <input type="reset" value="Delete" class="btn btn-danger" style="width:18%" />
                <hr />
                <a class="btn btn-default" style="width:18%" href="@Url.Action("index","Image")">Возврат к меню</a>
            </div>
        </div>
    </div>
}
