﻿@model  IEnumerable<Site.Models.contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}
<style>
    .image {
        height: 250px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

        .image > img {
            width: 100%;
            height: 100%;
            display: inline-block;
        }
</style>
<div class="create">
    <h3><a href="@Url.Action("addImage", "Image")"><img src="~/Images/add.png" />Добавить изображения</a></h3>
    </div>

    <hr />
<h4>Слайдшоу</h4>
<hr />
@foreach (var it in Model)
{
    <h4 class="@it.ID" style="cursor:pointer"> @it.NAME</h4>
    int cellCount = 0;
    <div id="@it.ID" style="display:none">
        <table>
            @foreach (var item in it.image)
            {
                if (cellCount % 3 == 0)
                {
                    @:<tr>
        }
        <td>
            @if (item.IMAGEBINARY != null)
            {
                <div class="itemMenu">
                    <div class="image">
                        <img src="@Url.Action("OutputImage", "IMAGE", new { id = item.ID })" />
                    </div>
                    <div id="itemRedact1">
                        <div>
                            @if (item.MAIN == 1)
                            {
                                <p>Основная</p>
                            }
                        </div>
                        <div>
                            @if (item.GROUP == 1)
                            {
                                <p>Слайдшоу</p>
                            }
                        </div>
                        <div>
                            <a href="@Url.Action("Delete", "Image", new { id = item.ID })"><img src="~/Images/remove.png" />Удалить</a>
                            @{Session["Page"] = ViewContext.RouteData.Values["action"];}
                        </div>
                    </div>
                </div>

            }
        </td>
            cellCount++;

            if (cellCount % 3 == 0)
            {
                @:</tr>
        }
            }
        </table>
        <hr />
    </div>
    <script>
        $(".@it.ID").click(function ()
        {
            if ($("#@it.ID").css("display") == "none")
            {
                $("#@it.ID").slideToggle("slow", function (){ });
            } else {
                $("#@it.ID").slideUp("slow", function () { });
            }
        }); if ($("#@it.ID").css("display") == "block") { }
    </script>
}

