﻿#nav_menu_content * {
    text-align:center;
    }
#nav_menu_content ul {
    background-color:rgba(244, 244, 244, 0.39);
    }
    
    #nav_menu_content{
        vertical-align:top;
        position:absolute;
        width:220px;
        margin-left:-25px;
        border: 1px solid #e5e5e5;
    }
    #nav_menu_content li ul {
        display: none;
        margin-left:-0%;
        padding:8px 2px;
        margin:0px 0px;
    }
    #nav_menu_content li{
        margin:2px 0px;
        padding: 4px;
        list-style:none;
    }

   #nav_menu_content a:hover {
       text-decoration:none;
       color:#320444;
    }
   .gen
   {
       color:black;
       font-size:120%;
   }