﻿@model Site.Models.menu
@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}

<h2>Menu</h2>

@using (Html.BeginForm("addMenu", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Menu</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="NAME">NAME</label>
            <div class="col-md-10">
                <input class="form-control" id="NAME" name="NAME" style="min-width: 100%" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="NAME" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="COST">COST</label>
            <div class="col-md-10">
                <input class="form-control" id="COST" name="COST" style="min-width: 100%" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="COST" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="RECEPTE">RECEPTE</label>
            <div class="col-md-10">
                <input class="form-control" id="RECEPTE" name="RECEPTE" style="min-width: 100%" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="RECEPTE" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="ALT">ALT</label>
            <div class="col-md-10">
                <input class="form-control" id="ALT" name="ALT" style="min-width: 100%" type="text" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="ALT" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="TYPE">TYPE</label>
            <div class="col-lg-2">
                <select class="form-control" id="TYPE" name="TYPE">
                    <option value="1">СУПЫ</option>
                    <option value="2">ГОРЯЧИЕ БЛЮДА</option>
                    <option value="3">ЗАКУСКИ</option>
                    <option value="7">АЛКОГОЛЬ</option>
                    <option value="6">НАПИТКИ</option>
                    <option value="5">ДЕСЕРТЫ</option>
                    <option value="4">САЛАТЫ</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="SOUPS" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="IMAGENAME">IMAGENAME</label>
            <div class="col-lg-10">
                <input type="file" name="files" id="files" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" style="width:18%" />
                <input type="reset" value="Delete" class="btn btn-danger" style="width:18%" />
                <hr />
                <a class="btn btn-default" style="width:18%" href="@Url.Action("index","Menu")">Возврат к меню</a>
            </div>
        </div>
    </div>
}