﻿@model PagedList.IPagedList<Site.Models.menu>
@using PagedList.Mvc;
@using System.IO;
@{
    ViewBag.Title = "Menu";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}<div class="create">
    <h3><a href="@Url.Action("addMenu", "Menu")"><img src="~/Images/add.png" />Добавить блюдо</a></h3>
</div>
<hr />

            @{int cellCount = 0;}
            <table>
    @foreach (var item in Model)
    {
        if (cellCount % 3 == 0)
        {
            @:<tr>
        }
        <td>
                <div class="itemMenu">
                    <div id="itemName">
                        @item.NAME
                    </div>
                    <div id="itemImg">
                        <img src="@Url.Action("OutputImageMenu", "Menu", new { id = item.ID })"/>
                    </div>
                    <hr />
                    <div id="itemAlt">
                        <a>Порция:</a>@item.ALT
                    </div>
                    <hr />
                    <div id="itemRecept">
                        <a>Состав:</a>@item.RECEPTE
                    </div>
                    <hr />
                    <div id="itemCost">
                        <a>Цена:</a>@item.COST рублей
                    </div>
                    <hr />
                    <div id="itemRedact">
                        @{Session["pagenumb"]=Request.QueryString["page"];}
                        @{Session["Page"] = ViewContext.RouteData.Values["action"];}
                        <a href="@Url.Action("Edit", "Menu", new { page = Request.QueryString["page"], id = item.ID })"><img src="~/Images/edit.png" />Редактировать</a>
                        <a href="@Url.Action("Delete", "Menu", new { page = Request.QueryString["page"], id = item.ID })"><img src="~/Images/remove.png" />Удалить</a>
                    </div>
                </div>
        </td>

        cellCount++;

        if (cellCount % 3 == 0)
        {
            @:</tr>
        }
    }
</table>
<br />

            Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
