﻿#map{
    background:rgba(0,0,0,0.5);
    background:transparent url(/Images/yandex_maps.jpg) no-repeat;
    margin-top:40px;
    border-top:1px solid gold;
    border-bottom:1px solid gold;
    padding:10px 0px 10px 0px;
    height: 400px;
    background-position:center;
    background-repeat:no-repeat;
}
.contact
{
    color:white;
    vertical-align:top;
    overflow:hidden;
}
.window
{
    padding:10px;
    background:rgba(255,0,0,0.9);
    margin:5px 5px;
}
.avatar
{
    width:150px;
    height:200px;
    width:200px;
    border-radius: 150px;
    overflow:hidden;
}
.avatar img{
    height:200px;
    width:200px;
    margin:0 auto;
}

#name{
    text-transform:uppercase;
    text-align:center;
    font-size:28px;
    width:100%;
    border-bottom:1px solid #fff;
}
#alt{
    padding-left:20px;
    font-size:15px;
}
#phone{
    color:#fff;
    font-size:15px;
}
#adress{
    padding-left:20px;
    font-size:15px;
}
#mail{
    color:#fff;
    padding-left:20px;
    font-size:15px;
}
#itemContact{
    margin-left:50%;
    position:absolute;
}
#itemContact a{
    display:inline-block;
}
#itemContact img{
    width:30px;
}
#itemContact a:hover{
    text-decoration:none;
    color:#4a1093;
}
.cont_table{
    margin:0 auto;
}