﻿.contact
{
    vertical-align:top;
    padding:10px;
    width:530px;
    margin:5px;
    padding-bottom:40px;
    border: 1px solid #e5e5e5;
    display:block;
    overflow:hidden;
}
.cord{
    padding-bottom:20px;
    color:#b5b5b5;
    font-size:11px;
}
.window
{
    width: 100%;
    margin-right: 5%;
}
.avatar
{
    width:200px;
    border-radius: 0px;
}
.avatar img{
    width:99%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#name{
    text-transform:uppercase;
    text-align:center;
    font-size:28px;
    width:100%;
}
#alt{
    padding-left:20px;
    font-size:15px;
}
#phone{
    color:#478ecb;
    font-size:15px;
}
#adress{
    padding-left:20px;
    font-size:15px;
}
#itemContact{
    margin-left:50%;
    position:absolute;
}
#itemContact a{
    display:inline-block;
}
#itemContact img{
    width:30px;
}
#itemContact a:hover{
    text-decoration:none;
    color:#4a1093;
}
#map{
    height: 400px;
    background:url(/Images/yandex_maps.jpg);
    background-position:center;
    background-repeat:no-repeat;
    padding:40px 0px 40px 0px;
}