﻿
.head{
    padding:20px;
    background:url(../Images/head.jpg);
    background-repeat:no-repeat;
    background-position:center;
}
.body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,dd5a00+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0%, #dd5a00 100%); /* FF3.6-15 */
    background: linear-gradient(to bottom,  #000000 0%,#dd5a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#dd5a00',GradientType=0 ); /* IE6-9 */
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
footer{
    max-height:300px;
}
.footer{
    position:relative;
    padding-top:30px;
    height:300px;
    background:url(../Images/foot.jpg);
    background-repeat:no-repeat;
    background-position:center;
}
