﻿td{
    vertical-align:middle;
    position:relative;
}
.itemMenu
{   vertical-align:top;
    min-width:355px;
    padding:10px 10px 0px 10px;
    margin:3px;
    border: 1px solid #e5e5e5;
}
.itemMenu:hover{
    cursor:default;
}
#itemName{
    text-align:center;
    text-transform:uppercase;
    padding:10px 0 10px 0px;
    max-width:355px;
    min-height:60px;
    font-weight:600;
}
#itemImg{
    margin-left:1%;
    width:330px;
    padding:5px 0 10px 0;
}
#itemImg img{
    max-width:300px;
    max-height:200px;
    display:block;
    margin:auto;
}
#itemAlt{
    color:#f5a13a;
    max-width:355px;
}
#itemRecept{
    color:#f5a13a;
    max-width:355px;
}
#itemCost{
    color:#f5a13a;
    max-width:355px;
}
#itemRedact{
    margin:0 auto;
    text-align:center;
}
#itemRedact a{
    display:inline-block;
}
#itemRedact img{
    width:30px;
}
#itemRedact a:hover{
    text-decoration:none;
    color:#4a1093;
}
#itemRedact1{
    padding-top:5px;
}
#itemRedact1 div{
    text-align:center;
    font-style:italic;
    color:red;
    vertical-align:central;
    display:inline-block;
    width:32%;
}
#itemRedact1 a{
    text-decoration:none;
    font-style:normal;
}
#itemRedact1 img{
    width:25px;
}