﻿
.image #imageAlt{
    position:absolute;
    width:255px;
    text-transform:uppercase;
    color:white;
    margin:150px auto;
    padding:10px;
    display:block;
    text-align:center;
    font-size:20px;
    background:rgba(0,0,0,0.5);
}
.image{
}
.image img{
}
 .menu_list_left{
    background:rgba(0,0,0,0.9);
    color:white;
    width:95%;
    border:1px solid #dbdbdb;
    border-radius:20px;
    margin:0 auto;
    padding:10px 30px 20px 30px;
 }
  .menu table tr td{
      vertical-align:top;
  }
 #menu_item_name{
     text-transform:uppercase;
     font-weight:700;
     font-size:16px;
 }
 #menu_item_Recepte{
     font-size:12px;
     font-style:italic;
     color:#cbcbcb;
 }
 #menu_item_Alt{
     padding:3px;
     font-weight:700;
    font-size:13px;
     width:100px;
     text-align:center;
 }
 #menu_item_Cost{
     padding:3px;
     font-weight:700;
    font-size:13px;
     width:100px;
     text-align:center;
 }
.menu_name{
    font-weight:700;
    font-size:25px;
     text-transform:uppercase;
    border-bottom:2px solid #fff;
    border-top:2px solid #fff;
    line-height:40px;
}
.menu_list_left table td,.menu_list_right table tr td{
    cursor:pointer;
}
.menu {
    
     background:rgba(0,0,0,0.5);
     border:1px solid gold;
    border-radius:20px;
    width:100%;
    display:inline-block;
    margin-top:20px;
    padding:20px 0px 90px 0px;
}