﻿.main-menu {
    width: 180px;
    padding: 0;
    position:fixed;
    margin-left: 10px;
    list-style: none;
}

.main-menu > li {
    margin-bottom: -1px;
    border: 1px solid #e5e5e5;
}

.main-menu a {
    display: block;
    padding: 8px 14px;
    text-decoration: none;
    color: #0088cc;
}

.main-menu a:hover {
    color:white;
    text-decoration:none;
    background: #196dd5;
}

.main-menu > .active > a {
    color:white;
    text-decoration:none;
    background: #196dd5;
}
.main-menu > .exit > a {
    color:white;
    text-decoration:none;
    background: rgba(243, 12, 12, 1);
}

.main-menu ul {
    margin: 0;
    padding: 5px 0;
    padding-left: 30px;
    list-style: none;
}
.cont{
    width:83%;
    height:95%;
    margin-left:15%;
    margin-bottom:2%;
    border: 1px solid #e5e5e5;
}
.admin{
    text-align:center;
    border: 1px solid #e5e5e5;
    color:black;
    padding:10px 0px;
    margin-bottom:10px;
    text-decoration:none;
    cursor:default;
}

.redact{
    padding-top:15px;
    margin-left:70%;
}
.redact a{
    padding-left:20px;
}
.redact img{
    width:35px;
}
.redact a:hover{
    text-decoration:none;
    color:#4a1093;
}
.create img{
    width:50px;
    padding:5px;
}
.create a:hover{
    text-decoration:none;
    color:#4a1093;
}
td{
    min-width:100px;
}
.redact_rew{
    padding:20px;
    margin-left:80%;
}
.redact_rew img
{
    width:40px;
    padding:5px;
}
.redact_rew a:hover{
    text-decoration:none;
    color:#4a1093;
}