﻿.super_block{
    background:rgba(255,255,255,0.1);
    width:95%;
    margin-top:50px;
    margin-left:2.5%;
    position:relative;
    border-radius:10px;
}
.block{
    position:relative;
    border-radius:5px 5px 0 0;
    height:270px;
    width:100%;
    margin:10px auto;
    padding:10px;
    display:table;
}
.block:hover{
    cursor:pointer;
}
.block div{
    position:relative;
    overflow:hidden;
    display:inline-block;
    vertical-align:top;
    margin:0 auto;
}
.block #content{
    position:relative;
    margin:0 auto;
    width:60%;
    height:250px;    
    padding:10px;
    overflow:hidden;
}
.block .image{
    height:250px;
    width:40%;
    padding:10px 0px 0px 0px;
    overflow: hidden;
    vertical-align: top;
}
.block .image > img{
    width:100%;
}
 #rest{
        font-style:normal;
        font-size:40px;
        text-align:center;
        color:#fff;
        width:99%;
        border-bottom:1px solid gold;
    }
 #rest_alt{
     padding:0px 5px 5px 5px;
     position:relative;
     height:165px;
     width:99%;
     color:gold;
 }
  #rest_alt p{
      position:absolute;
      top:10%;
      bottom:25%;
      text-align:justify;
      font-style:italic;
 }
 #rest_map{
     width:100%;
     text-align:center;
     vertical-align:bottom;
     text-decoration:none;
     font-style:italic;
 }
 #rest_map a{
     text-decoration:none;
     color:#fff;
 }
 .slider1 {
     padding:0px 10px 10px 10px;
            overflow:hidden;
            margin:0px auto;
            width:100%;
        }
        .slider1 .image {
        overflow: hidden;
        text-align: center;
        vertical-align: top;
        }
        .slick-slide img {  
        height:250px;
        width: 98%;
        display: inline-block;
        }