﻿/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.lang{
    position:absolute;
    margin-left:72%;
}
.ico{
    color:white;
    position:relative;
    display:inline-block;
    margin:4% 10px;
}
.ico:hover{
    text-decoration:none;
    color:gold;
}
.ico img{
    width:30px
}
#reviews{
    padding-top:20px;
    background:rgba(0,0,0,0.4);
    border:1px solid gold;
    border-radius:20px;
    width:100%;
    padding-bottom:100px;
}
#reviews_logo{
    padding:0px;
    width:100%;
}
#reviews_logo img{
    position:absolute;
    left:0;
    right:0;
    height:70px;
    margin:0 auto;
}
.review{
    background:rgba(255,250,250,0.15);
    margin:10px;
    padding:20px;
    border-radius:10px;
}
.review #name{
    text-align:center;
    background: #db2404;
    background: -moz-linear-gradient(top, #db2404 0%, #a50306 44%, #b70003 100%);
    background: -webkit-linear-gradient(top, #db2404 0%,#a50306 44%,#b70003 100%);
    background: linear-gradient(to bottom, #db2404 0%,#a50306 44%,#b70003 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2404', endColorstr='#b70003',GradientType=0 );
    color:white;
    font-weight:700;
    border-radius:10px;
    width:200px;
    padding:10px 50px;
    margin:0px 30px;
    border:0.01em solid gold;
}
.review #coment{
    color:#1b1b1b;
    font-weight:normal;
   -webkit-box-shadow: 0px 5px 30px 0px rgba(247,238,111,0.31);
    -moz-box-shadow: 0px 5px 30px 0px rgba(247,238,111,0.31);
    box-shadow: 0px 5px 30px 0px rgba(247,238,111,0.31);
   font-style:italic;
   padding:10px;
   min-height:40px;
   background:#fff;
   position: relative;
}
.review #mail{
   font-style:italic;
   font-weight:400;
   color:white;
   text-align:center;
   padding:10px;
   min-height:40px;
   position: relative;
}
.review #coment:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid #fff;
   border-bottom: 13px solid transparent;
   margin: 0px 0 0 -25px;
}
.review #date{
    margin-left:80%;
}

.href {
    color:#fff;
  font-style:italic;
  margin-left:700px;
}
.href:hover{
    color:#fff;
    opacity:0.9;
    text-decoration:none;
}