﻿@model Site.Models.MainPage
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/Slick/slick-theme.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Slick/slick.css" type="text/css" />
<section class="regular slider">
    @foreach(var item in Model.image)
    {
    <div class="image">
        <img src="@Url.Action("OutputImage", "Home", new { id = item.ID })"/>
    </div>
    }
</section>

<script>
    $(document).on('ready', function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay:true,
        autoplaySpeed: 2000
      });
    });
    </script>
@if (Model.news.Count != 0)
    {
<div id="reviews">
    @{int i = 0;}
        @foreach (var item in Model.news)
        {
            
            if (i == 2)
            {
                break;
            }
            else{
            <div class="review" style=" color:gold;font-style:italic; width:90%; margin:20px auto;">
                @Html.Raw(item.CONTENT)
                <hr />
                <p style="font-style:italic; float:right;">Дата добавления @item.DATE</p>
                <br />
            </div>
        }
            i++;
        }
        <a class="href" href="@Url.Action("Index","News")">Читать больше новостей...</a>
    <div id="reviews_logo">
        <img src="~/Images/body-home/1.png" />
    </div>
</div>
}