﻿@model Site.Models.user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    <style type="text/css">
       
        .center-block {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: auto;
        }
        .window {
            border-radius:5px;
            text-align:center;
            padding:30px 30px 140px 30px;
            width: 350px;
            height: 100px;
            position: fixed;
            top: 50%;
            left: 50%;
            margin: -125px 0px 0px -200px;
            -webkit-box-shadow: 0px 0px 4px 14px rgba(120,135,135,0.5);
            -moz-box-shadow: 0px 0px 43px 14px rgba(120,135,135,0.5);
            box-shadow: 0px 0px 43px 5px rgba(120,135,135,0.5);
        }

        #login {
            text-align:center;
            margin-top: 0px;
        }

        #password {
            text-align:center;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .btn {
            margin-left: 0%;
            width: 60%;
            height: 30px;
            padding-bottom: 25px;
        }
    </style>
</head>
<body>
    <div class="center-block">
        <div class="window">
            @using (Html.BeginForm("login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.ValidationSummary(true);
                @Html.TextBoxFor(a => a.USERNAME, new { @class = "form-control", id = "login", placeholder = "login" });
                @Html.PasswordFor(a => a.PASSWORD, new { @class = "form-control", id = "password", placeholder = "password" });
                <input type="submit" class="btn btn-info" value="Войти" />
            }
        </div>
    </div>
</body>
</html>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
