﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DUNES Catering business</title>
    @Styles.Render("~/Content/css")
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Slick/slick.js" type="text/javascript"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/navbar/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Content/navbar/jquery.bgImageMenu.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />
</head>
    <body>
        <div class="head">
                <div class="content">
                <div id="sbi_container" class="sbi_container">
                    
                    <div class="sbi_panel" data-bg="../../../../../Images/body-home/1.png">
                        <a href="@Url.Action("Index","Home")" class="sbi_label">Главная</a>
                    </div>
                    <div class="sbi_panel" data-bg="../../../../../Images/body-home/3.jpg">
                        <a   class="sbi_label">О нас</a>
                        <div class="sbi_content">
                            <ul>
                                <li><a href="@Url.Action("Index", "Reviews")">Отзывы</a></li>
                                <li><a href="@Url.Action("Index","personal")">Персонал</a></li>
                                <li><a  >Награды</a></li>
                                <li><a href="@Url.Action("Index","Contacts")">Контакты</a></li>
                                <li><a href="@Url.Action("Index","restaurant_chain")">Сеть ресторанов</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sbi_panel" data-bg="../../../../../Images/body-home/4.jpg">
                        <a href="@Url.Action("Index","News")" class="sbi_label">Новости</a>
                        <ul></ul>
                    </div>
                    <div class="sbi_panel" data-bg="../../../../../Images/body-home/6.jpg">
                        <a href="@Url.Action("Index","Menu")"  class="sbi_label">Меню</a>
                        <ul></ul>
                    </div>
                    <div class="sbi_panel" data-bg="../../../../../Images/body-home/5.jpg">
                        <a   class="sbi_label">Заказ столика</a>
                        <ul></ul>
                    </div>
                    <div class="sbi_panel" data-bg="../../../../../Images/body-home/7.jpg">
                        <a   class="sbi_label">Заказ мероприятия</a>
                        <ul></ul>
                    </div>
                    <div class="sbi_panel" data-bg="../../../../../Images/body-home/1.png">
                        <a class="sbi_label" id="map_site">Карта сайта</a>
                        
                    </div>
                    <div class="map_site">
                        <table id="table">
                            <tr>
                                <td>
                                    <h4 class="h" style="color:#fff">Информация</h4>
                                    <hr />
                                    <a >Рестораны</a>
                                    <a href="@Url.Action("Index","Contacts")">Контакты</a>
                                    <a  >Отзывы</a>
                                    <a  >Обслуживание</a>
                                    <a  >Награды</a>
                                    <a  >Персонал</a>
                                </td>
                            <td>
                                <h4 class="h" style="color:#fff">Меню</h4>
                                <hr />
                                <a  >Горячие блюда</a>
                                <a  >Супы</a>
                                <a  >Закуски</a>
                                <a  >Алкоголь</a>
                                <a  >Десерты</a>
                                <a  >Салаты</a>
                            </td>
                                <td>
                                    <h4 class="h" style="color:#fff">Клиентам</h4>
                                    <hr />
                                    <a href="@Url.Action("Index", "Reviews")">Оставить отзыв</a>
                                    <a  >Заказать столик</a>
                                    <a  >Заказать мероприятие</a>
                                    <a  >Схема проезда</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </div>

            </div>
            <script>
                $("#map_site").click(
                    function () {
                        $(".map_site").fadeIn("slow", function () {
                            // Animation complete.
                        });
                    });
                $(".map_site").mouseleave(
                    function () {
                        $(".map_site").fadeOut("slow", function () {
                            // Animation complete.
                        });
                    });
                $(".sbi_container").mouseleave(
                    function () {
                        $(".map_site").fadeOut("slow", function () {
                            // Animation complete.
                        });
                    });
            </script>
            <div class="lang">
                <a class="ico" href="@Url.Action(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), new {page=Request.QueryString["page"], language = "ru-RU" })"><img src="~/Images/RU.png" />Рус</a>
                <a class="ico" href="@Url.Action(ViewContext.RouteData.Values["Action"].ToString(), ViewContext.RouteData.Values["Controller"].ToString(), new {page=Request.QueryString["page"], language = "en-UK" })"><img src="~/Images/GB.png" />Eng</a>
            </div>  
        </div>
        <script>
        $(function() {
        $('#sbi_container').bgImageMenu({
        defaultBg	: '../../../../../Images/body-home/1.png',
        border		: 1,
        menuSpeed	: 600,
        type		: {
            mode		: 'seqFade',
            speed		: 250,
            easing		: 'jswing',
            seqfactor	: 100
        }
        });
        });
</script>
<div class="body">
    <div class="container">
        @RenderBody()
        </div>
    </div>
        <script>
            $(document).ready(function () { // вся мaгия пoсле зaгрузки стрaницы
                $('.myBtn').click(function (event) { // лoвим клик пo ссылки с id="go"
                    event.preventDefault(); // выключaем стaндaртную рoль элементa
                    $('#overlay').fadeIn(400, // снaчaлa плaвнo пoкaзывaем темную пoдлoжку
                        
                        function () { // пoсле выпoлнения предъидущей aнимaции
                            $('#modal_form')
                                .css('display', 'block') // убирaем у мoдaльнoгo oкнa display: none;
                                .animate({ opacity: 1, top: '50%' }, 200); // плaвнo прибaвляем прoзрaчнoсть oднoвременнo сo съезжaнием вниз
                        });
                });
                /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
                $('#modal_close, #overlay').click(function () { // лoвим клик пo крестику или пoдлoжке
                    $('#modal_form')
                        .animate({ opacity: 0, top: '45%' }, 200,  // плaвнo меняем прoзрaчнoсть нa 0 и oднoвременнo двигaем oкнo вверх
                            function () { // пoсле aнимaции
                                $(this).css('display', 'none'); // делaем ему display: none;
                                $('#overlay').fadeOut(400); // скрывaем пoдлoжку
                            }
                        );
                });
            });
            var t;
            function up() {
                var top = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
                if (top > 0) {
                    window.scrollBy(0, -100);
                    t = setTimeout('up()', 30);
                    $(".map_site").fadeIn("slow", function () {
                        // Animation complete.
                    });
                } else clearTimeout(t);
                return false;
            }
        </script>
<div class="footer">
        <footer>
            <div class="sbi_container-bottom">
                <div class="sbi_label-bottom">
                    <a href="@Url.Action("Index","Home")" >Главная</a>
                </div>
                <div class="sbi_label-bottom">
                    <a href="@Url.Action("Index","Contacts")">Контакты</a>
                </div>
                <div class="sbi_label-bottom">
                    <a href="@Url.Action("Index","restaurant_chain")">Сеть ресторанов</a>
                </div>
                <div class="sbi_label-bottom">
                    <a href="@Url.Action("Index", "Reviews")">Отзывы</a>
                </div>
                <div class="sbi_label-bottom">
                    <a href="@Url.Action("Index","Home")">Заказ мероприятия</a>
                </div>
                <div class="sbi_label-bottom">
                    <a href="@Url.Action("Index","Home")">Франчайзинг</a>
                </div>
                <div class="sbi_label-bottom">
                    <a href="" onclick="return up()">Карта сайта</a>
                </div>
            </div>
            <div id="panel">
                <div class="contacts">
                    <p>Контакты</p>
                    Севастополь, Ленинский район,улица Декабристов, 46
                </div>
                <div class="phone">
                    +7(978) 918 18 04
                </div>
                <div class="mail">
                    <a href="mailto:info@dunes.ru">info@dunes.ru</a>
                </div>
                <div class="social_media">
                    <p>Мы в социальных сетях</p>
                    <a><img src="~/Images/social/VK.png"/></a>
                    <a><img src="~/Images/social/FB.png"/></a>
                    <a><img src="~/Images/social/Ok.png"/></a>
                    <a><img src="~/Images/social/Instagram.png" /></a>
                </div>
                </div>
        </footer>
    </div>
</body>
</html>