﻿
@{
    ViewBag.Title = "index";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}
<h2>index</h2>
@if (Session["LogedUserFullName"] != null)
{
    <text>

        Welcome @Session["LogedUserFullName"].ToString()
        <br />
        @Session["LogedTime"].ToString();

    </text>
}
