﻿@model PagedList.IPagedList<Site.Models.review>
@using PagedList.Mvc;
@using System.IO;
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
<br />
<div id="reviews">
    <div class="guest_book">
    <h3 id="form">Гостевая книга</h3>
    @using (Html.BeginForm("Index", "Reviews", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div id="hide" class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label>NAME</label>
        <div class="border">
            <input type="text" class="form-control" id="NAME" name="NAME" />
            <span class="field-validation-valid text-danger" data-valmsg-for="NAME" data-valmsg-replace="true"></span>
        </div>
            <label>PHONE</label>
            <div class="border">
                <input type="text" class="form-control" id="PHONE" name="PHONE" />
                <span class="field-validation-valid text-danger" data-valmsg-for="PHONE" data-valmsg-replace="true"></span>
            </div>
            <label>EMAIL</label>
        <div class="border">
            <input type="text" class="form-control" id="EMAIL" name="EMAIL" />
            <span class="field-validation-valid text-danger" data-valmsg-for="EMAIL" data-valmsg-replace="true"></span>
        </div>
        <label>COMMENT</label>
        <div class="border">
            <textarea class="form-control" id="COMENT" name="COMENT"></textarea>
            <span class="field-validation-valid text-danger" data-valmsg-for="COMENT" data-valmsg-replace="true"></span>
        </div>
                        <input type="submit" value="Create" class="button" />
                </div>
    }

</div>

    <h3 id="guest_book_rec">Записи</h3>
    @foreach (var item in Model)
    {
        <div class="review" style="width:700px;">
            <table>
                <tr>
                    <td style="vertical-align:top">
                        <div id="name">@item.NAME</div>
                        <div id="mail">@item.EMAIL</div>
                    </td>
                    <td style="vertical-align:top">
                        <div id="coment"><p>@item.COMENT</p></div>
                    </td>
                </tr>
            </table>
        </div>
    }
    <div id="reviews_logo">
        <img src="~/Images/body-home/1.png" />
    </div>
</div>
<div class="paginator">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),PagedListRenderOptions.Classic)
</div>
<script>
</script>