﻿@model IEnumerable<Site.Models.contact>
@{
    ViewBag.Title = "Сеть ресторанов";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Slick/slick-theme.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Slick/slick.css" type="text/css" />
<link rel="stylesheet" href="~/Content/restaurant.css" />
<br />
<div id="reviews">
    @{int i = 0;}
    @foreach (var item in Model)
    {
        if (i % 2 == 0)
        {
            <div class="super_block">
                <div class="block">
                    @if (item.image.Where(a => a.MAIN == 1) != null)
                    {
                        <div class="image">
                            @foreach (var it in item.image.Where(a => a.MAIN == 1))
                            {
                                <img src="@Url.Action("OutputImage", "Home", new { id = it.ID })">
                            }
                        </div>
                    }
                    <div id="content">
                        <div id="rest">
                            @item.NAME
                        </div>
                        <div id="rest_alt">
                            <p>@item.ALT</p>
                        </div>
                        <div id="rest_map">
                            <a href="@Url.Action("Index","Contacts")">Схема проезда</a>
                        </div>
                    </div>
                </div>
                <section class="regular slider1">
                    @foreach (var it in item.image.Where(a => a.MAIN != 1))
                    {
                        <div class="image">
                            <img src="@Url.Action("OutputImage", "Home", new { id = it.ID })" />
                        </div>
                    }
                </section>
            </div>
        }
        else
        {
            <div class="super_block">
                <div class="block">
                    <div id="content">
                        <div id="rest">
                            @item.NAME
                        </div>
                        <div id="rest_alt">
                            <p>@item.ALT</p>
                        </div>
                        <div id="rest_map">
                            <a href="@Url.Action("Index","Contacts")">Схема проезда</a>
                        </div>
                    </div>
                    @if (item.image.Where(a => a.MAIN == 1) != null)
                {
                        <div class="image">
                            @foreach (var it in item.image.Where(a => a.MAIN == 1))
                        {
                                <img src="@Url.Action("OutputImage", "Home", new { id = it.ID })">
                        }
                        </div>
                }
                </div>
                <section class="regular slider1">
                    @foreach (var it in item.image.Where(a => a.MAIN != 1))
        {
                        <div class="image">
                            <img src="@Url.Action("OutputImage", "Home", new { id = it.ID })" />
                        </div>
        }
                </section>
                </div>
                }
                ++i;
                }
                <div id="reviews_logo">
                    <img src="~/Images/body-home/1.png" />
                </div>
            </div>
<script>
    $(document).on('ready', function() {
      $(".regular").slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
      });
    });
</script>