﻿@model Site.Models.contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
