﻿@model Site.Models.contact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}

<h2>Edit</h2>
<script>
    ymaps.ready(init);

    function init() {
        var myPlacemark,
            myMap = new ymaps.Map("map", {
                center: [@Model.MAP],
                zoom: 14,
                behaviors: ["default", "scrollZoom"],
                controls: ["searchControl", "zoomControl", "fullscreenControl", "routeEditor"],
            });
        myMap.behaviors.disable('scrollZoom');

        // Слушаем клик на карте.
        myMap.events.add('click', function (e) {
            var coords = e.get('coords');

            // Если метка уже создана – просто передвигаем ее.
            if (myPlacemark) {
                myPlacemark.geometry.setCoordinates(coords);
            }
                // Если нет – создаем.
            else {
                myPlacemark = createPlacemark(coords);
                myMap.geoObjects.add(myPlacemark);
                // Слушаем событие окончания перетаскивания на метке.
                myPlacemark.events.add('dragend', function () {
                    getAddress(myPlacemark.geometry.getCoordinates());
                });
            }
            getAddress(coords);
        });

        // Создание метки.
        function createPlacemark(coords) {
            return new ymaps.Placemark(coords, {
                iconCaption: 'поиск...'
            }, {
                preset: 'islands#redDotIconWithCaption',
                draggable: true
            });
        }

        // Определяем адрес по координатам (обратное геокодирование).
        function getAddress(coords) {
            myPlacemark.properties.set('iconCaption', 'поиск...');
            ymaps.geocode(coords).then(function (res) {
                var firstGeoObject = res.geoObjects.get(0);
                $("#ADRESS").val(firstGeoObject.properties.get('name'));
                $("#MAP").val(coords);
                myPlacemark.properties
                    .set({
                        iconCaption: firstGeoObject.properties.get('name'),
                        balloonContent: firstGeoObject.properties.get('text')
                    });
            });
        }
        @Model.NAME = new ymaps.Placemark([@Model.MAP], {
                balloonShaow:true,
                balloonContentHeader: '<p style="text-align:center;border-bottom:1px solid #c1c1c1">@Model.NAME.ToString()</p>',
                ballоonContentFooter: '@Model.ADRESS',
                balloonContentBody: [
                '<address>',
                '<strong>@Model.ALT.ToString()</strong>',
                '<br/>',
                'Адрес:<a style="text-decoration:none"> @Model.ADRESS</a><br/>',
                'Телефон: <a style="text-decoration:none">@Model.PHONE</a>',
                '</address>'
                ].join(''),
                iconCaption: "@Model.NAME.ToString()"
            }, {
                preset: 'islands#redCircleDotIconWithCaption',
                iconCaptionMaxWidth: '500'
            });

            myMap.geoObjects.add(@Model.NAME)
    }
</script>
@using (Html.BeginForm("Edit", "Contacts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>contact</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
            </div>
        </div>
        <script>


            

    $(document).ready(function () {
        $("#show_ymap").click(function () {
            if ($("#ymap").css("display") == "none") {
                $("#ymap").slideDown(500);
                return true;
            }
            else {
                $("#ymap").slideUp(500); return true;
            }
        });
    });
        </script>
        <button id="show_ymap" type="button" class="btn btn-default">Изменить адресс</button>
        <div id="ymap" style="display:none">
            <div id="map"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MAP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MAP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MAP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ADRESS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ADRESS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ADRESS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ALT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ALT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ALT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PHONE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new {placeholder = "978xxxxxx", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" for="IMAGENAME">IMAGENAME</label>
            <div class="col-lg-10">
                <input type="file" name="files" id="files" class="required" accept="image/*">
            <script>
            </script>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" style="width:18%" />
                <input type="reset" value="Delete" class="btn btn-danger" style="width:18%" />
                <hr />
                <a class="btn btn-default" style="width:18%" href="@Url.Action("index","Contacts")">Возврат к меню</a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
