﻿@model IEnumerable<Site.Models.contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}

<div class="create">
    <h3><a href="@Url.Action("addContact")"><img src="~/Images/add.png" />Добавить контакт</a></h3>
</div>
@{int cellCount = 0;}
<table>
    @foreach (var item in Model)
    {
        if (cellCount % 2 == 0)
        {
            @:<tr>
                }
                <td>
                    <div class="contact">
                        <div class="window">
                            <table>
                                <tr>
                                        <td>
                                            <div class="avatar">
                                                <img src="@Url.Action("OutputImageContacts","Contacts",new {id = item.ID})">
                                            </div>
                                        </td>
                                        <td >
                                            <p id="name">@item.NAME</p>
                                            <div style="width:300px;"></div>
                                            <p id="alt">@item.ALT</p>
                                            <p id="adress">@item.ADRESS</p>
                                            <l id="adress">Тел.:</l><l id="phone">@item.PHONE</l>
                                        </td>
                                </tr>
                            </table>
                        </div>
                        <hr />
                        <div class="cord">
                            координаты: [@item.MAP]
                        </div>
                        <div id="itemContact">
                            <a href="@Url.Action("Edit", "Contacts", new { id = item.ID })"><img src="~/Images/edit.png" />Редактировать</a>
                            <a href="@Url.Action("Delete", "Contacts", new { id = item.ID })"><img src="~/Images/remove.png" />Удалить</a>
                            @{Session["Page"] = ViewContext.RouteData.Values["action"];}
                        </div>
                    </div>


                </td>
                cellCount++;

                if (cellCount % 2 == 0)
                {
                @:</tr>
        }
    }
</table>
<hr />
<script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init() {
            myMap = new 1ymaps.Map("map", {
                center: [44.603266, 33.502711],
                zoom: 13,
                behaviors: ["default", "scrollZoom"],
                controls: ["searchControl","zoomControl", "fullscreenControl","routeEditor"],
            });
            myMap.behaviors.disable('scrollZoom');
            @foreach (var item in Model)
            {
                <text>

            @item.NAME = new ymaps.Placemark([@item.MAP], {
                balloonShaow:true,
                balloonContentHeader: '<p style="text-align:center;border-bottom:1px solid #c1c1c1">@item.NAME.ToString()</p>',
                ballоonContentFooter: '@item.ADRESS',
                balloonContentBody: [
                '<address>',
                '<strong>@item.ALT.ToString()</strong>',
                '<br/>',
                'Адрес:<a style="text-decoration:none"> @item.ADRESS</a><br/>',
                'Телефон: <a style="text-decoration:none">@item.PHONE</a>',
                '</address>'
                ].join(''),
                iconCaption: "@item.NAME.ToString()"
            }, {
                preset: 'islands#redCircleDotIconWithCaption',
                iconCaptionMaxWidth: '500'
            });

            myMap.geoObjects.add(@item.NAME)
            </text>
            }
        }
    </script>
    <div id="map"></div>