﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" /> 
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/panel.css")
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Panel/panel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/menu.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Contacts.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Images.css" />
    <script src="~/Content/Panel/panel1.js"></script>
    <script src="~/Content/Panel/panel2.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    
    <script>
        tinymce.init({
            selector: "textarea",
            width: '100%',
            height: 200,
            plugins: [
            'textcolor',
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table contextmenu directionality',
            'emoticons paste textcolor colorpicker textpattern imagetools autoresize'
            ],
            language: 'ru',
            fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt 48pt 64pt 72pt',
            toolbar1: 'forecolor backcolor | insertfile undo redo | fontsizeselect styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | preview',
            image_advtab: true,
            file_picker_callback: function (callback, value, meta) {
                if (meta.filetype == 'image') {
                    $('#upload').trigger('click');
                    $('#upload').on('change', function () {
                        var file = this.files[0];
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            callback(e.target.result, {
                                alt: this.file
                            });
                        };
                        reader.readAsDataURL(file);
                    });
                }
            }
        });
    </script>
    
    <meta charset="utf-8">
    </head>
<body>
    <br />

    <input name="image" type="file" id="upload"  style="display:none" onchange="">
    <ul  id='nav_menu_content'>
        <li>@Session["LogedUserFullName"].ToString()</li>
        <li>
            <a class="btn btn-primary" style="width:100%" href='@Url.Action("Index","News")'>Новости</a>
            <ul>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("Index","News")'>Все новости</a>
                </li>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("CreateNews","News")'>Добавить новость</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="btn btn-primary" style="width:100%" href='@Url.Action("Index","Reviews")'>Отзывы</a>
        </li>
        <li>
            <a class="btn btn-primary" style="width:100%" href='@Url.Action("Index","honors")'>Награды</a>
        </li>
        <li>
            <a class ="btn btn-primary" style="width:100%" href='@Url.Action("Index","Menu")'>Меню</a>
            <ul>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("Index","Menu")'>Всё меню</a>
                </li>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("Soups","Menu")' >Супы</a>
                </li>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("hotdishes","Menu")'>Горячие блюда</a>
                </li>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("starks","Menu")'>Закуски</a>
                </li>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("salads","Menu")'>Салаты</a>
                </li>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("desserts","Menu")'>Десерты</a>
                </li>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("drinks","Menu")'>Напитки</a>
                </li>
                <li>
                    <a class="btn btn-default" style="width:100%" href='@Url.Action("alcohol","Menu")'>Алкоголь</a>
                </li>
            </ul>
        </li>
        <li><a class="btn btn-primary" style="width:100%" href='@Url.Action("index","Contacts")'>Контакты</a></li>
        <li><a class="btn btn-primary" style="width:100%" href='@Url.Action("index","Image")'>Галлерея</a></li>
        <li><a class="btn btn-danger" style="width:100%" href='@Url.Action("exit","Admin")'>Выход</a></li>
    </ul>
    <script>$('#nav_menu_content').tree_menu();</script> <!-- Запуск -->

    <div class="cont">
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>