﻿#guest_book_rec {
    color:#fff;
    margin:-10px 5px 0px 5px; 
    width:700px; 
    border-bottom:1px solid gold;
    padding:10px; 
    text-align:center;
}
.guest_book{
    display:inline-block; 
    position:absolute; 
    margin-left:720px;
    width:400px;
}
#form {
    color:#fff;
    margin:-10px 5px 0px 5px; 
    width:390px; 
    border-bottom:1px solid gold;
    padding:10px; 
    text-align:center;
}
.guest_book .form-control{
    width:100%;
    height:30px;
    margin:0 auto;
}
.guest_book label{
    width:90%;
    margin:0 auto;
    font-weight:100;
    color:white;
    padding:5px;
}
.guest_book #COMENT{
    max-width:100%;
    height:250px;
    margin:5px auto;
    padding:10px;
    background-size:200px;
    background-position:bottom;
    background-color:rgba(255,255,255,1);
    margin-bottom:10px;
}
.guest_book .button{
    text-align:center;
    background: #db2404;
    background: -moz-linear-gradient(top, #db2404 0%, #a50306 44%, #b70003 100%);
    background: -webkit-linear-gradient(top, #db2404 0%,#a50306 44%,#b70003 100%);
    background: linear-gradient(to bottom, #db2404 0%,#a50306 44%,#b70003 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db2404', endColorstr='#b70003',GradientType=0 );
    color:white;
    font-size:15px;
    border-radius:5px;
    width:100%;
    margin-top:10px;
    height:35px;
    border:1px solid gold;
}
.guest_book .border{
    padding:5px;
    width:99%;
    background:rgba(255,255,255,0.1);
    border-radius:5px;
    margin:0 auto;
}