﻿@model PagedList.IPagedList<Site.Models.review>
@using PagedList.Mvc;
@using System.IO;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}

<h2>Отзывы</h2>
@foreach(var item in Model)
{
    @item.NAME
    @item.FULLNAME
    @item.EMAIL
    @item.PHONE
    @item.PROCESSED
    if (item.PROCESSED != 0)
    {
        <br />
        <table class="redact_rew">
            <tr>
                <td><a href="@Url.Action("hide_rew", "Reviews", new { page=Request.QueryString["page"], id = item.ID })"><img src="~/Images/hide.png" />Скрыть</a></td>
                <td><a href="@Url.Action("delete", "Reviews", new  { page=Request.QueryString["page"], id = item.ID })"><img src="~/Images/remove.png" />Удалить</a></td>
            </tr>
        </table>
    }
    else
    {
        <br />
        <table class="redact_rew">
            <tr>
                <td><a href="@Url.Action("add_rew", "Reviews", new {page=Request.QueryString["page"], id = item.ID })"><img src="~/Images/add_rew.png" />Добавить</a></td>
                <td><a href="@Url.Action("delete", "Reviews", new  {page=Request.QueryString["page"], id = item.ID })"><img src="~/Images/remove.png" />Удалить</a></td>
            </tr>
        </table>
    }
    <hr />
}

Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("index", new { page }))
