﻿@model IEnumerable<Site.Models.menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Slick/slick-theme.css" type="text/css" />
<link rel="stylesheet" href="~/Content/Slick/slick.css" type="text/css" />
<link rel="stylesheet" href="~/Content/menu_client.css" type="text/css" />
    <div class="menu">
        <div class="menu_list_left">
            @{string[] menu = { "", "Супы", "Горячие блюда", "Закуски", "Салаты", "Десерты", "Напитки", "Алкоголь" };}

            <br />
<p style="font-size:50px;text-align:center; font-family:cherif;">DUNES MENU
        </p>@{int i = 0;}
            @for (i = 1; i < 8;i++ )
            {int cellCount = 0;
                <h3 class="menu_name">@menu[i]</h3>
    @*<div class="cool slider2">
        @foreach (var item in Model.Where(a=>a.TYPE==i))
        {
            <div class="image">
                <div id="imageAlt">@item.NAME</div>
                <img src="@Url.Action("OutputImage", "Menu", new { id = item.ID })" />
            </div>
        }
    </div>*@
                <br />
    <table>
        @foreach (var item in Model.Where(a => a.TYPE == i))
        {
            if (cellCount % 2 == 0)
            {
        @:<tr>
            }
            <td width="600px">
                <p id="menu_item_name">@item.NAME</p>
                <p id="menu_item_Recepte">@item.RECEPTE</p>
            </td>
            <td id="menu_item_Alt">
                <p>@item.ALT</p>
            </td>
            <td id="menu_item_Cost">
                <p>@item.COST ₽</p>
            </td>
            cellCount++;
            if (cellCount % 2 == 0)
            {
            @:</tr>
        }
        }

    </table>
            }
    </div>
        <div id="reviews_logo">
            <img src="~/Images/body-home/1.png" />
        </div>
    </div>
    
<script>
    $(document).on('ready', function() {
      $(".cool").slick({
          slidesToShow: 4,
        slidesToScroll: 2,
        autoplay: true,
        infinite:false,
        autoplaySpeed: 2000
      });
    });
</script>

