﻿@model PagedList.IPagedList<Site.Models.news>
@using PagedList.Mvc;

@{
    ViewBag.Title = "news";
    Layout = "~/Areas/Home/Views/Shared/_Layout.cshtml";
}
<br />
<div id="reviews">
    @foreach (var item in Model)
    {
            <div class="review" style=" color:gold; font-style:italic; width:90%; margin:20px auto;">
                @Html.Raw(item.CONTENT)
                <hr />
                <p style="font-style:italic; float:right;">Дата добавления @item.DATE</p>
                <br />
            </div>
    }
    <div id="reviews_logo">
        <img src="~/Images/body-home/1.png" />
    </div>
</div>

        <div class="paginator">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), PagedListRenderOptions.Classic)
</div>
