﻿@model Site.Models.news
@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}

<h2>CreateNews</h2>

@using (Html.BeginForm("CreateNews", "News", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>News</h4>
        <hr />
           <textarea class="form-control" cols="20" id="CONTENT" name="CONTENT" rows="15" style="min-width: 100%"></textarea>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-0 col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" style="width:18%" />
                <input type="reset" value="Delete" class="btn btn-danger" style="width:18%" />
                <hr />
                <a class="btn btn-default" style="width:18%" href="@Url.Action("index","News")">Возврат к новостям</a>
            </div>
        </div>
    </div>
}
