﻿@model PagedList.IPagedList<Site.Models.news>
@using PagedList.Mvc;
@using System.IO;
@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Admin/Views/Shared/Panel.cshtml";
}

<div class="create">
    <h3><a href="@Url.Action("CreateNews", "News")"><img src="~/Images/add.png" />Создать новость</a></h3>
    </div>
    <hr />

    <div id="reviews" style="background:#fff;border-color:#dcdcdc;">
    @foreach (var item in Model)
    {
        <div class="review" style="background:rgba(0,0,0,0.7); color:gold; font-style:italic; width:90%; margin:20px auto; border:1px solid #dcdcdc">
            @Html.Raw(item.CONTENT)
            <hr />
            <p style="font-style:italic; float:right;">Дата добавления @item.DATE</p>
            <br />
        </div>
        <div class="redact">
            <a href="@Url.Action("EditNews", "News", new { id = item.ID })"><img src="~/Images/edit.png" />Редактировать</a>
            <a href="@Url.Action("DeleteNews", "News", new { id = item.ID })"><img src="~/Images/remove.png" />Удалить</a>
        </div>
    }
    <br />
        </div>
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("News", new { page }))
